.hover {
  background-color: #b32b2f !important;
  color: #ffffff !important;
  cursor: pointer;
}
.hover a,
.hover a:visited,
.hover a:hover {
  color: #ffffff;
}
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
}
html,
button,
input,
select,
textarea {
  font-family: Lato, sans-serif;
  color: #222;
}
:focus {
  outline: none;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::selection {
  background: #eee;
  color: #fff;
  text-shadow: none;
}
/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #00e;
  cursor: pointer;
  text-decoration: none;
}
a:visited {
  color: #00e;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: none;
}
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover,
a:active {
  outline: 0;
}
/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
/* Redeclare monospace font family: h5bp.com/j */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
.nav ul,
.nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}
/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* Colors for form validity */
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
:-ms-input-placeholder {
  color: #a8a8a8;
}
::-webkit-input-placeholder {
  color: #a8a8a8;
}
:-moz-placeholder {
  color: #a8a8a8;
}
::-webkit-input-placeholder {
  text-transform: none;
}
::-moz-input-placeholder {
  text-transform: none;
}
:-ms-input-placeholder {
  text-transform: none;
}
html,
body {
  height: 100%;
  background-color: #f2f2f2;
  line-height: 18px;
  font-size: 14px;
}
html {
  margin-top: 0px;
}
html,
button,
input,
select,
textarea {
  font-family: Lato, sans-serif;
  color: #333333;
  line-height: 18px;
}
h1 {
  line-height: 36px;
  margin: 0px 0px 18px;
  padding: 0px;
  font-size: 36px;
  color: #777;
  font-weight: normal;
}
h1.step {
  *zoom: 1;
}
h1.step:before,
h1.step:after {
  display: table;
  content: "";
}
h1.step:after {
  clear: both;
}
h1.step:before,
h1.step:after {
  display: table;
  content: "";
}
h1.step:after {
  clear: both;
}
h1.step span {
  -webkit-border-top-left-radius: 500px;
  -webkit-border-top-right-radius: 500px;
  -webkit-border-bottom-right-radius: 500px;
  -webkit-border-bottom-left-radius: 500px;
  -moz-border-radius-topleft: 500px;
  -moz-border-radius-topright: 500px;
  -moz-border-radius-bottomright: 500px;
  -moz-border-radius-bottomleft: 500px;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  border-bottom-left-radius: 500px;
  display: block;
  height: 36px;
  width: 36px;
  text-align: center;
  background-color: #b32b2f;
  color: #ffffff;
  line-height: 36px;
  margin-right: 20px;
  font-size: smaller;
  float: left;
}
h2,
.h2 {
  line-height: 18px;
  padding: 0px;
  margin: 0px 0px 18px;
  font-size: 18px;
  font-weight: normal;
}
h3 {
  line-height: 18px;
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  font-weight: bold;
}
h5 {
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
  padding: 0px;
  margin: 0px 0px 18px;
  line-height: 18px;
}
a,
a:hover,
a:link,
a:visited {
  color: #0000ee;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.container-full-width-header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  margin-bottom: 20px;
}
.chk,
.rad {
  margin-right: 20px;
  text-align: left;
  display: block;
  *zoom: 1;
}
.chk:before,
.rad:before,
.chk:after,
.rad:after {
  display: table;
  content: "";
}
.chk:after,
.rad:after {
  clear: both;
}
.chk:before,
.rad:before,
.chk:after,
.rad:after {
  display: table;
  content: "";
}
.chk:after,
.rad:after {
  clear: both;
}
.chk input,
.rad input {
  margin-top: 2px;
  float: left;
}
.chk label,
.rad label {
  display: block;
  margin-left: 20px;
}
.chk-list {
  *zoom: 1;
  margin-bottom: 20px;
}
.chk-list:before,
.chk-list:after {
  display: table;
  content: "";
}
.chk-list:after {
  clear: both;
}
.chk-list:before,
.chk-list:after {
  display: table;
  content: "";
}
.chk-list:after {
  clear: both;
}
.chk-list.chk-list-vert .chk {
  float: none;
  display: block;
  margin-bottom: 5px;
}
.chk-list .chk {
  float: left;
}
.rad-list {
  *zoom: 1;
}
.rad-list:before,
.rad-list:after {
  display: table;
  content: "";
}
.rad-list:after {
  clear: both;
}
.rad-list:before,
.rad-list:after {
  display: table;
  content: "";
}
.rad-list:after {
  clear: both;
}
.rad-list.rad-list-vert .rad {
  display: block;
  margin-bottom: 5px;
}
.chk-sub-section {
  margin-left: 20px;
}
fieldset {
  border: none;
  margin: 0px 0px 20px;
  padding: 0px;
}
fieldset dl {
  margin-bottom: 20px;
}
fieldset dt {
  padding: 0px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  *zoom: 1;
}
fieldset dt:before,
fieldset dt:after {
  display: table;
  content: "";
}
fieldset dt:after {
  clear: both;
}
fieldset dt:before,
fieldset dt:after {
  display: table;
  content: "";
}
fieldset dt:after {
  clear: both;
}
fieldset dt p {
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 0px;
}
fieldset dt .icon {
  float: right;
  margin-right: 0px;
  margin-left: 20px;
}
fieldset dd {
  padding: 0px;
  margin: 0px;
}
fieldset.horiz dl {
  *zoom: 1;
  margin-bottom: 5px;
  margin-top: 0px;
}
fieldset.horiz dl:before,
fieldset.horiz dl:after {
  display: table;
  content: "";
}
fieldset.horiz dl:after {
  clear: both;
}
fieldset.horiz dl:before,
fieldset.horiz dl:after {
  display: table;
  content: "";
}
fieldset.horiz dl:after {
  clear: both;
}
fieldset.horiz dt {
  float: left;
  width: 150px;
  line-height: 30px;
}
fieldset.horiz dd {
  display: block;
  margin-left: 170px;
  line-height: 30px;
}
fieldset.horiz .buttons {
  margin-left: 170px;
}
fieldset.half-width {
  width: 50%;
}
fieldset.small dt,
fieldset.small dd {
  line-height: 15px;
}
.center-page-panel {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 450px;
}
.cols-con {
  *zoom: 1;
}
.cols-con:before,
.cols-con:after {
  display: table;
  content: "";
}
.cols-con:after {
  clear: both;
}
.cols-con:before,
.cols-con:after {
  display: table;
  content: "";
}
.cols-con:after {
  clear: both;
}
.cols-con .col {
  float: left;
  width: 45%;
  margin-right: 5%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cols-con .col:last-child {
  margin-right: 0%;
  width: 50%;
}
input[type=text],
input[type=email],
input[type=password],
select,
textarea {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  border: 1px #888 solid;
}
.ie7 input[type=text],
.ie7 input[type=email],
.ie7 input[type=password],
.ie7 select,
.ie7 textarea {
  width: 90%;
}
input[type=text].num {
  text-align: right;
  width: 70px;
}
select optgroup {
  font-style: normal;
}
input[type=button],
input[type=submit],
.button {
  text-decoration: none;
  padding: 10px 20px;
  border: 1px #bbb solid;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #e4e4e4;
  background-image: url('');
  background-image: url(''), -moz-linear-gradient(top, #ffffff, #bbbbbb);
  background-image: url(''), -ms-linear-gradient(top, #ffffff, #bbbbbb);
  background-image: url(''), -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#bbbbbb));
  background-image: url(''), -webkit-linear-gradient(top, #ffffff, #bbbbbb);
  background-image: url(''), -o-linear-gradient(top, #ffffff, #bbbbbb);
  background-image: url(''), linear-gradient(top, #ffffff, #bbbbbb);
  background-repeat: repeat;
  background-position: 0px 0px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#bbbbbb', GradientType=0);
  text-align: center;
}
input[type=button]:hover:not(ie7),
input[type=submit]:hover:not(ie7),
.button:hover:not(ie7) {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacityPercentage)";
  zoom: 1;
}
input[type=button]:visited,
input[type=submit]:visited,
.button:visited,
input[type=button]:hover,
input[type=submit]:hover,
.button:hover {
  text-decoration: none;
  color: #777;
}
input[type=button].primary,
input[type=submit].primary,
.button.primary {
  background-color: #dd9a9c;
  background-image: url('');
  background-image: url(''), -moz-linear-gradient(top, #f9e4e5, #b32b2f);
  background-image: url(''), -ms-linear-gradient(top, #f9e4e5, #b32b2f);
  background-image: url(''), -webkit-gradient(linear, 0 0, 0 100%, from(#f9e4e5), to(#b32b2f));
  background-image: url(''), -webkit-linear-gradient(top, #f9e4e5, #b32b2f);
  background-image: url(''), -o-linear-gradient(top, #f9e4e5, #b32b2f);
  background-image: url(''), linear-gradient(top, #f9e4e5, #b32b2f);
  background-repeat: repeat;
  background-position: 0px 0px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9e4e5', endColorstr='#b32b2f', GradientType=0);
  border: 1px #b32b2f solid;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #ffffff;
  font-weight: bold;
}
input[type=button].primary:visited,
input[type=submit].primary:visited,
.button.primary:visited,
input[type=button].primary:hover,
input[type=submit].primary:hover,
.button.primary:hover {
  color: #ffffff;
}
input[type=button].delete,
input[type=submit].delete,
.button.delete {
  background-color: #fef1f1;
  background-image: url('');
  background-image: url(''), -moz-linear-gradient(top, #ffffff, #fddddd);
  background-image: url(''), -ms-linear-gradient(top, #ffffff, #fddddd);
  background-image: url(''), -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#fddddd));
  background-image: url(''), -webkit-linear-gradient(top, #ffffff, #fddddd);
  background-image: url(''), -o-linear-gradient(top, #ffffff, #fddddd);
  background-image: url(''), linear-gradient(top, #ffffff, #fddddd);
  background-repeat: repeat;
  background-position: 0px 0px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fddddd', GradientType=0);
  border: 1px #cc0000 solid;
  color: #cc0000;
  font-weight: bold;
}
input[type=button].delete:visited,
input[type=submit].delete:visited,
.button.delete:visited,
input[type=button].delete:hover,
input[type=submit].delete:hover,
.button.delete:hover {
  background-color: #fddddd;
}
input[type=submit]:not(.secondary) {
  background-color: #dd9a9c;
  background-image: url('');
  background-image: url(''), -moz-linear-gradient(top, #f9e4e5, #b32b2f);
  background-image: url(''), -ms-linear-gradient(top, #f9e4e5, #b32b2f);
  background-image: url(''), -webkit-gradient(linear, 0 0, 0 100%, from(#f9e4e5), to(#b32b2f));
  background-image: url(''), -webkit-linear-gradient(top, #f9e4e5, #b32b2f);
  background-image: url(''), -o-linear-gradient(top, #f9e4e5, #b32b2f);
  background-image: url(''), linear-gradient(top, #f9e4e5, #b32b2f);
  background-repeat: repeat;
  background-position: 0px 0px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9e4e5', endColorstr='#b32b2f', GradientType=0);
  border: 1px #b32b2f solid;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #ffffff;
  font-weight: bold;
}
input[type=submit]:not(.secondary):visited,
input[type=submit]:not(.secondary):hover {
  color: #ffffff;
}
.buttons {
  *zoom: 1;
  border-top: 1px #b32b2f solid;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.buttons:before,
.buttons:after {
  display: table;
  content: "";
}
.buttons:after {
  clear: both;
}
.buttons:before,
.buttons:after {
  display: table;
  content: "";
}
.buttons:after {
  clear: both;
}
.buttons input[type=submit],
.buttons input[type=button],
.buttons .button {
  margin-right: 10px;
}
.error {
  background-color: rgba(255, 0, 0, 0.1);
  color: #f00;
  border: 1px #f00 solid;
  padding: 10px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  display: none;
  margin-bottom: 20px;
}
.error.show-error {
  display: inherit;
}
.small {
  font-size: 11px;
}
.main-header {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  padding: 0px;
  border-bottom: 1px #d9d9d9 solid;
  margin-bottom: 20px;
  padding-bottom: 20px;
  *zoom: 1;
}
.main-header:before,
.main-header:after {
  display: table;
  content: "";
}
.main-header:after {
  clear: both;
}
.main-header:before,
.main-header:after {
  display: table;
  content: "";
}
.main-header:after {
  clear: both;
}
.main-header .logo {
  margin-right: 20px;
  height: 40px;
  width: 40px;
  float: left;
  display: block;
  -webkit-border-top-left-radius: 40px;
  -webkit-border-top-right-radius: 40px;
  -webkit-border-bottom-right-radius: 40px;
  -webkit-border-bottom-left-radius: 40px;
  -moz-border-radius-topleft: 40px;
  -moz-border-radius-topright: 40px;
  -moz-border-radius-bottomright: 40px;
  -moz-border-radius-bottomleft: 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  background-size: cover;
  background-color: #b32b2f;
  background-repeat: no-repeat;
  background-position: center center;
}
.main-header .main-nav {
  *zoom: 1;
}
.main-header .main-nav:before,
.main-header .main-nav:after {
  display: table;
  content: "";
}
.main-header .main-nav:after {
  clear: both;
}
.main-header .main-nav:before,
.main-header .main-nav:after {
  display: table;
  content: "";
}
.main-header .main-nav:after {
  clear: both;
}
.main-header .main-nav ul.menu {
  margin-top: 5px;
  float: left;
}
.main-header .main-nav ul.menu li a {
  line-height: 30px;
  color: #a5a5a5;
  font-weight: normal;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px #d9d9d9 solid;
}
.main-header .main-nav ul.menu li a:first-child {
  border-left: none;
  padding-left: 0px;
}
.main-header .main-nav ul.sub-menu {
  float: right;
  font-size: 11px;
  margin-top: 10px;
}
.main-header .main-nav ul.sub-menu li a.icon {
  line-height: 20px;
  margin-right: 0px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 0px;
}
.main-header .main-nav ul.sub-menu li ul {
  right: 0px;
  left: auto;
  top: 20px;
}
ul.menu {
  list-style: none;
  background-color: #f2f2f2;
  *zoom: 1;
}
ul.menu:before,
ul.menu:after {
  display: table;
  content: "";
}
ul.menu:after {
  clear: both;
}
ul.menu:before,
ul.menu:after {
  display: table;
  content: "";
}
ul.menu:after {
  clear: both;
}
ul.menu li {
  position: relative;
  display: block;
  float: left;
}
ul.menu li.site-title {
  font-size: 18px;
}
ul.menu li:last-child.hassubnav {
  margin-right: 0px;
}
ul.menu li:last-child a {
  margin-right: 0px;
}
ul.menu li:hover ul {
  display: block;
}
ul.menu li.hassubnav {
  background-image: url(i/hassubnav.png);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 10px;
  margin-right: 20px;
}
ul.menu li.hassubnav > a {
  margin-right: 0px;
}
ul.menu li a {
  margin-right: 20px;
  font-weight: bold;
  text-decoration: none;
}
ul.menu li a:hover:not(ie7) {
  opacity: 0.5;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacityPercentage)";
  zoom: 1;
}
ul.menu li a.active {
  background-image: url(i/iconsheet.png);
  background-repeat: no-repeat;
  background-position: center -298px;
  padding-bottom: 17px;
}
ul.menu li ul {
  display: none;
  padding: 0px;
  margin: 0px;
  position: absolute;
  left: 11px;
  top: 25px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  z-index: 3;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
ul.menu li ul li {
  list-style-type: none;
  display: block;
  float: none;
  min-width: 100px;
}
ul.menu li ul li a {
  text-decoration: none;
  color: inherit;
  float: none;
  display: block;
  padding: 10px;
  white-space: nowrap;
}
.loading,
.explicit-loading {
  min-height: 15px;
  background-color: transparent !important;
  color: transparent !important;
  background-image: url('i/loading.gif') !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
select.loading {
  min-height: 5px;
}
a.icon,
div.icon,
span.icon {
  background-image: url('i/iconsheet.png');
  background-position: 200px 50px;
  background-repeat: no-repeat;
  padding-left: 20px;
  line-height: 20px;
  display: block;
  float: left;
  text-decoration: none;
  font-size: 11px;
  color: #333;
  font-weight: bold;
  margin-right: 20px;
}
a.icon:active,
div.icon:active,
span.icon:active,
a.icon:hover,
div.icon:hover,
span.icon:hover,
a.icon:visited,
div.icon:visited,
span.icon:visited {
  color: #333;
}
a.icon:before,
div.icon:before,
span.icon:before {
  content: ".";
  visibility: hidden;
}
a.icon.person-details,
div.icon.person-details,
span.icon.person-details {
  background-position: 0px -2664px;
}
a.icon.preview,
div.icon.preview,
span.icon.preview {
  background-position: 0px -1674px;
}
a.icon.refresh,
div.icon.refresh,
span.icon.refresh {
  background-position: 0px -1384px;
}
a.icon.no,
div.icon.no,
span.icon.no {
  background-image: url(i/tickwithproblem.png);
  background-position: 0px 2px;
}
a.icon.yes,
div.icon.yes,
span.icon.yes {
  background-image: url(i/tick.png);
  background-position: 0px 2px;
}
a.icon.maybe,
div.icon.maybe,
span.icon.maybe {
  background-image: url(i/tickfaded.png);
  background-position: 0px 2px;
}
div.icon,
span.icon {
  float: none;
  font-weight: normal;
  clear: none;
  margin-right: 0px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/* Modal */
.ui-widget-overlay {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.no-rgba .ui-widget-overlay {
  background-color: #fff;
}
.no-rgba .ui-widget-overlay:not(ie7) {
  opacity: 0.9;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacityPercentage)";
  zoom: 1;
}
.ui-dialog {
  z-index: 10;
}
.ui-dialog.elementToLeft {
  background-image: url('i/modal/modalarrowleft.png');
  background-repeat: no-repeat;
  background-position: 0px 40%;
  background-color: transparent;
}
.ui-dialog.elementToLeft .ui-dialog-content,
.ui-dialog.elementToLeft .ui-dialog-titlebar {
  margin-left: 22px;
}
.ui-dialog.elementToRight {
  background-image: url('i/modal/modalarrowright.png');
  background-repeat: no-repeat;
  background-position: right 40%;
  background-color: transparent;
}
.ui-dialog.elementToRight .ui-dialog-content,
.ui-dialog.elementToRight .ui-dialog-titlebar {
  margin-right: 22px;
}
.ui-dialog .ui-dialog-titlebar {
  cursor: move;
  padding: 0px;
  background-color: #fff;
  border: 10px #555 solid;
  border-bottom: none;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  *zoom: 1;
}
.ui-dialog .ui-dialog-titlebar:before,
.ui-dialog .ui-dialog-titlebar:after {
  display: table;
  content: "";
}
.ui-dialog .ui-dialog-titlebar:after {
  clear: both;
}
.ui-dialog .ui-dialog-titlebar:before,
.ui-dialog .ui-dialog-titlebar:after {
  display: table;
  content: "";
}
.ui-dialog .ui-dialog-titlebar:after {
  clear: both;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  display: none;
}
.ui-dialog .ui-dialog-content {
  background-color: #fff;
  border: 10px #555 solid;
  border-top: none;
  background-image: none;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0px 20px 20px;
  overflow-y: auto;
}
.ui-dialog .ui-dialog-content ul,
.ui-dialog .ui-dialog-content ol {
  margin-top: 0px;
  padding-top: 0px;
}
.ui-dialog .ui-dialog-titlebar-close,
.ui-dialog .ui-dialog-titlebar-close:hover,
.ui-dialog .ui-dialog-titlebar-close:focus {
  padding: 0px;
  margin: 0px 0px 0px 0px;
  float: right;
  border: none;
  background-color: transparent;
  outline: none;
  margin-top: -25px;
  margin-right: -25px;
}
.ui-dialog .ui-dialog-titlebar-close span.ui-button-text,
.ui-dialog .ui-dialog-titlebar-close:hover span.ui-button-text,
.ui-dialog .ui-dialog-titlebar-close:focus span.ui-button-text {
  display: none;
}
.ui-dialog .ui-dialog-titlebar-close span.ui-icon,
.ui-dialog .ui-dialog-titlebar-close:hover span.ui-icon,
.ui-dialog .ui-dialog-titlebar-close:focus span.ui-icon {
  background-image: url(i/closenobg.png);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: block;
  height: 40px;
  background-color: #d30808;
  border: none;
  width: 40px;
  text-indent: -9999px;
}
.ui-dialog .ui-dialog-titlebar-close span.ui-icon:hover,
.ui-dialog .ui-dialog-titlebar-close:hover span.ui-icon:hover,
.ui-dialog .ui-dialog-titlebar-close:focus span.ui-icon:hover {
  background-color: #ff0808;
}
.ui-widget-header {
  background: none;
  border: none;
  font-weight: bold;
}
/*\ Modal */
.rpt-head {
  *zoom: 1;
  margin-bottom: 20px;
}
.rpt-head:before,
.rpt-head:after {
  display: table;
  content: "";
}
.rpt-head:after {
  clear: both;
}
.rpt-head:before,
.rpt-head:after {
  display: table;
  content: "";
}
.rpt-head:after {
  clear: both;
}
.rpt-head h1,
.rpt-head h2,
.rpt-head h3,
.rpt-head h4 {
  float: left;
  display: block;
  clear: both;
}
.rpt-head h1 .sub-head,
.rpt-head h2 .sub-head,
.rpt-head h3 .sub-head,
.rpt-head h4 .sub-head {
  font-weight: normal;
  margin-bottom: 0px;
}
.rpt-head h1 .sub-head .icon,
.rpt-head h2 .sub-head .icon,
.rpt-head h3 .sub-head .icon,
.rpt-head h4 .sub-head .icon {
  float: left;
  margin-left: 0px;
  margin-right: 20px;
}
.rpt-head h2 {
  margin-top: 9px;
  margin-bottom: 0px;
}
.rpt-head h3 {
  margin-top: 12px;
  margin-bottom: 0px;
}
.rpt-head .icon {
  margin-top: 10px;
  float: right;
  margin-right: 0px;
  margin-left: 20px;
}
.center {
  text-align: center;
}
.start-con {
  margin-top: 100px;
}
.start-con .action-list {
  text-align: center;
}
.start-con .action-list .button {
  display: inline-block;
  margin-bottom: 20px;
}
.start-con .action-list .button.primary {
  font-size: larger;
  padding: 40px;
}
.browse-products-con {
  font-size: 11px;
}
.browse-products-con .intro {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}
.browse-products-con .product-list-con {
  *zoom: 1;
}
.browse-products-con .product-list-con:before,
.browse-products-con .product-list-con:after {
  display: table;
  content: "";
}
.browse-products-con .product-list-con:after {
  clear: both;
}
.browse-products-con .product-list-con:before,
.browse-products-con .product-list-con:after {
  display: table;
  content: "";
}
.browse-products-con .product-list-con:after {
  clear: both;
}
.browse-products-con .product-list-con.has-product .totals-con .totals-inner-con {
  margin-right: 20px;
}
.browse-products-con .product-list-con.has-product .totals-con .totals-inner-con:not(ie7) {
  opacity: 1;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacityPercentage)";
  zoom: 1;
}
.browse-products-con .product-list-con .totals-con {
  *zoom: 1;
  overflow: hidden;
}
.browse-products-con .product-list-con .totals-con:before,
.browse-products-con .product-list-con .totals-con:after {
  display: table;
  content: "";
}
.browse-products-con .product-list-con .totals-con:after {
  clear: both;
}
.browse-products-con .product-list-con .totals-con:before,
.browse-products-con .product-list-con .totals-con:after {
  display: table;
  content: "";
}
.browse-products-con .product-list-con .totals-con:after {
  clear: both;
}
.browse-products-con .product-list-con .totals-con .buttons input {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.browse-products-con .product-list-con .totals-con .totals-inner-con {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  float: right;
  margin-right: -280px;
}
.browse-products-con .product-list-con .totals-con .totals-inner-con:not(ie7) {
  opacity: 0;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacityPercentage)";
  zoom: 1;
}
.browse-products-con .product-list-con .totals-con .totals-inner-con #BtnPay {
  float: right;
  margin-right: 0px;
  width: 270px;
}
.browse-products-con .product-list-con .totals-con .totals-inner-con #BtnPay.redirecting {
  background-image: url(i/loading.gif);
  font-size: 11px;
  background-position: center center;
  background-repeat: no-repeat;
}
.browse-products-con .product-list-con .totals-con .total-item {
  *zoom: 1;
  display: block;
  font-size: larger;
}
.browse-products-con .product-list-con .totals-con .total-item:before,
.browse-products-con .product-list-con .totals-con .total-item:after {
  display: table;
  content: "";
}
.browse-products-con .product-list-con .totals-con .total-item:after {
  clear: both;
}
.browse-products-con .product-list-con .totals-con .total-item:before,
.browse-products-con .product-list-con .totals-con .total-item:after {
  display: table;
  content: "";
}
.browse-products-con .product-list-con .totals-con .total-item:after {
  clear: both;
}
.browse-products-con .product-list-con .totals-con .total-item.tax {
  font-style: italic;
}
.browse-products-con .product-list-con .totals-con .total-item.grand-total {
  font-weight: bold;
}
.browse-products-con .product-list-con .totals-con .total-item.grand-total h4 {
  font-weight: bold;
}
.browse-products-con .product-list-con .totals-con .total-item h4 {
  line-height: 40px;
  float: left;
  width: 220px;
  text-align: right;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
}
.browse-products-con .product-list-con .totals-con .total-item span {
  line-height: 40px;
  display: block;
  float: left;
  width: 100px;
  text-align: right;
}
.browse-products-con .product-list-con .totals-con .total-item span:before {
  content: '$';
}
.browse-products-con .product-list-con .product-item-con {
  *zoom: 1;
  padding: 20px;
  border-bottom: 1px dashed #b32b2f;
}
.browse-products-con .product-list-con .product-item-con:before,
.browse-products-con .product-list-con .product-item-con:after {
  display: table;
  content: "";
}
.browse-products-con .product-list-con .product-item-con:after {
  clear: both;
}
.browse-products-con .product-list-con .product-item-con:before,
.browse-products-con .product-list-con .product-item-con:after {
  display: table;
  content: "";
}
.browse-products-con .product-list-con .product-item-con:after {
  clear: both;
}
.browse-products-con .product-list-con .product-item-con .img-con {
  float: left;
  -webkit-border-top-left-radius: 400px;
  -webkit-border-top-right-radius: 400px;
  -webkit-border-bottom-right-radius: 400px;
  -webkit-border-bottom-left-radius: 400px;
  -moz-border-radius-topleft: 400px;
  -moz-border-radius-topright: 400px;
  -moz-border-radius-bottomright: 400px;
  -moz-border-radius-bottomleft: 400px;
  border-top-left-radius: 400px;
  border-top-right-radius: 400px;
  border-bottom-right-radius: 400px;
  border-bottom-left-radius: 400px;
  width: 70px;
  height: 70px;
  overflow: hidden;
  background-color: #fff;
}
.browse-products-con .product-list-con .product-item-con .img-con img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}
.browse-products-con .product-list-con .product-item-con .details-con {
  margin-left: 90px;
}
.browse-products-con .product-list-con .product-item-con .details-con .name {
  font-weight: bold;
}
.browse-products-con .product-list-con .product-item-con .actions-con {
  float: right;
  margin-left: 20px;
  width: 100px;
}
.browse-products-con .product-list-con .product-item-con .actions-con #TxtQuantity {
  height: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 70px;
  float: right;
  text-align: right;
  display: block;
  font-size: larger;
}
.browse-products-con .product-list-con .product-item-con .actions-con span {
  line-height: 40px;
  font-size: larger;
  display: block;
  width: 100%;
  text-align: right;
}
.browse-products-con .product-list-con .product-item-con .actions-con span#LblPrice {
  font-weight: bold;
}
.browse-products-con .product-list-con .product-item-con .actions-con span:before {
  content: '$';
}
.browse-products-con .product-list-con .product-item-con .actions-con h4 {
  text-align: right;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  font-size: 11px;
  display: block;
}
body.show-developer-console .log-viewer-con {
  right: 0px;
}
body.show-developer-console .container,
body.show-developer-console .main-header {
  margin-left: 0px;
}
.log-viewer-con {
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: right 0.2s ease;
  -moz-transition: right 0.2s ease;
  -ms-transition: right 0.2s ease;
  -o-transition: right 0.2s ease;
  -webkit-transition: right 0.2s ease;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 500px;
  right: -500px;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.developer-console-window .log-viewer-con {
  position: relative;
  right: 0;
  width: 100%;
}
.developer-console-window .log-viewer-con .inline-only {
  display: none;
}
.developer-console-window .log-viewer-con .rpt-head {
  margin-top: 0px;
}
.developer-console-window .log-viewer-con .requests-con {
  height: auto;
  overflow-y: auto;
}
.log-viewer-con .raw-json-con {
  position: fixed;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 20px;
  margin-top: -800px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
.log-viewer-con .raw-json-con:not(ie7) {
  opacity: 0;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacityPercentage)";
  zoom: 1;
}
.log-viewer-con .raw-json-con.active {
  margin-top: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.log-viewer-con .raw-json-con.active:not(ie7) {
  opacity: 1;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacityPercentage)";
  zoom: 1;
}
.log-viewer-con .raw-json-con textarea {
  font-size: small;
  height: 500px;
  width: 100%;
}
.log-viewer-con .toggle-developer-mode {
  cursor: pointer;
  top: 20px;
  text-indent: -9999px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -60px;
  width: 50px;
  height: 50px;
  -webkit-border-top-left-radius: 300px;
  -webkit-border-top-right-radius: 300px;
  -webkit-border-bottom-right-radius: 300px;
  -webkit-border-bottom-left-radius: 300px;
  -moz-border-radius-topleft: 300px;
  -moz-border-radius-topright: 300px;
  -moz-border-radius-bottomright: 300px;
  -moz-border-radius-bottomleft: 300px;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
  border-bottom-left-radius: 300px;
  display: block;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  font-size: 11px;
  background-image: url(i/iconsheet.png);
  background-position: 19px -2648px;
  background-repeat: no-repeat;
}
.log-viewer-con .rpt-head {
  margin-top: -43px;
}
.log-viewer-con .intro {
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 11px;
}
.log-viewer-con .intro p:last-child {
  margin-bottom: 0px;
}
.log-viewer-con .requests-con {
  overflow-y: auto;
  height: 500px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.log-viewer-con .requests-con .request-details-con {
  padding: 10px;
  border-top: 1px dashed #ccc;
  max-height: 0px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  font-size: 11px;
}
.log-viewer-con .requests-con .request-details-con:not(ie7) {
  opacity: 0;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacityPercentage)";
  zoom: 1;
}
.log-viewer-con .requests-con .request-details-con.show-in-list {
  max-height: 2000px;
}
.log-viewer-con .requests-con .request-details-con.show-in-list:not(ie7) {
  opacity: 1;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacityPercentage)";
  zoom: 1;
}
.log-viewer-con .requests-con .request-details-con.show-in-list.is-initial-transaction {
  margin-left: 20px;
}
.log-viewer-con .requests-con .request-details-con.show-in-list.is-subsequent-transaction {
  margin-left: 20px;
}
.log-viewer-con .requests-con .request-details-con.is-initial-transaction {
  margin-left: -200px;
}
.log-viewer-con .requests-con .request-details-con.is-subsequent-transaction {
  margin-left: 500px;
}
.log-viewer-con .requests-con .request-details-con.is-subsequent-transaction .transaction-title {
  display: none;
}
.log-viewer-con .requests-con .request-details-con.api-error {
  border: 1px #cc0000 solid;
  color: #cc0000;
}
.log-viewer-con .requests-con .request-details-con:first-child {
  border-top: 1px transparent solid;
}
.log-viewer-con .requests-con .request-details-con .transaction-title {
  color: #bfbfbf;
  font-size: larger;
  font-weight: normal;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px #f2f2f2 solid;
  text-transform: uppercase;
  display: block;
  margin-left: -20px;
}
.log-viewer-con .requests-con .request-details-con .header {
  max-width: 450px;
  *zoom: 1;
}
.log-viewer-con .requests-con .request-details-con .header:before,
.log-viewer-con .requests-con .request-details-con .header:after {
  display: table;
  content: "";
}
.log-viewer-con .requests-con .request-details-con .header:after {
  clear: both;
}
.log-viewer-con .requests-con .request-details-con .header:before,
.log-viewer-con .requests-con .request-details-con .header:after {
  display: table;
  content: "";
}
.log-viewer-con .requests-con .request-details-con .header:after {
  clear: both;
}
.log-viewer-con .requests-con .request-details-con .header .title {
  line-height: 20px;
  font-weight: bold;
}
.log-viewer-con .requests-con .request-details-con .header .title:after {
  content: '...';
}
.log-viewer-con .requests-con .request-details-con .header a {
  float: right;
}
.log-viewer-con .requests-con .request-details-con fieldset {
  margin-bottom: 0px;
}
.log-viewer-con .requests-con .request-details-con fieldset dd {
  word-wrap: break-word;
}
.json-desc {
  font-size: 11px;
  overflow: hidden;
}
.json-desc .property-con {
  display: block;
  *zoom: 1;
}
.json-desc .property-con:before,
.json-desc .property-con:after {
  display: table;
  content: "";
}
.json-desc .property-con:after {
  clear: both;
}
.json-desc .property-con:before,
.json-desc .property-con:after {
  display: table;
  content: "";
}
.json-desc .property-con:after {
  clear: both;
}
.json-desc .property-con.expandable > .property-name {
  text-decoration: underline;
  cursor: pointer;
  display: block;
}
.json-desc .property-con.expandable > .property-value {
  height: 0px;
  margin-left: 100px;
}
.json-desc .property-con.expandable > .property-value:not(ie7) {
  opacity: 0;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacityPercentage)";
  zoom: 1;
}
.json-desc .property-con.expanded > .property-value {
  height: auto;
  margin-left: 0px;
}
.json-desc .property-con.expanded > .property-value:not(ie7) {
  opacity: 1;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacityPercentage)";
  zoom: 1;
}
.json-desc .property-con .property-value {
  float: left;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
.json-desc .property-con .property-value:not(ie7) {
  opacity: 1;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacityPercentage)";
  zoom: 1;
}
.json-desc .property-con .property-name {
  float: left;
  font-weight: bold;
  margin-right: 20px;
}
.json-desc .property-con .property-name:after {
  content: ':';
}
.popup-message-con {
  position: fixed;
  bottom: 100px;
  left: 50%;
  width: 500px;
  font-size: 11px;
  margin-left: -250px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border: 1px #333 solid;
  cursor: pointer;
}
.popup-message-con:not(ie7) {
  opacity: 0.9;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacityPercentage)";
  zoom: 1;
}
.popup-message-con.error-msg {
  border: 1px #cc0000 solid;
  color: #cc0000;
  background-color: #fddddd;
}
