<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
		<add key="PushpayAPIBaseUrl" value="https://qa-api.testpushpay.com/v1/" />
		<add key="PushpayClientID" value="api-ref-client" />
		<!-- PushpayClientID and PushpayClientSecret have been added to the WindowsAzure instance as hosted variables. -->
		<add key="PushpayClientSecret" value="aaY2EbIl0poYmegEI1NxzxAKwy1dsV3aMasaqfXX4" />
		<add key="OAuth2AuthorizeEndpoint" value="https://qa-auth.testpushpay.com/pushpay/oauth/authorize" />
		<add key="OAuth2TokenEndpoint" value="https://qa-auth.testpushpay.com/pushpay/oauth/token" />
		<add key="TaxPercentage" value="15"/>
		<add key="APIDocumentationUrl" value="https://qa-pushpayio.testpushpay.com/docs"/>
		<add key="SourceCodeUrl" value=""/>
		<add key="MerchantID" value="2158"/>
	</appSettings>
  <system.web> 
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />

		<rewrite>
			<rules>
				<clear />
				<!-- We prepend the version number into our URLs so that resources like javascript files are not cached by browser. This rewrite simply removes the version number from the routing -->
				<rule name="Rewrite Versioned File" stopProcessing="true">
					<match url="v[0-9\.]+/(.*?)$" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="{R:1}" logRewrittenUrl="false" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
